* {
	box-sizing: border-box;
}

body{
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
	margin: 0;
	position: relative;
	color: #4b7f1d;
	background-color: #f9f6eb;
	line-height: 30px;
	letter-spacing: 1px;
}

img {
	width: 100%;
	display: flex;
}

.center {
	text-align: center;
}

.main-background-color{
	background-color: #f9f6eb;
}

.alt-background-color{
	background-color: #4b7f1d;
	display: flex;
}

.alt-background-color p{
	color: white;
	font-weight: bold;
	text-align: center;
	width: 60%;
	padding: 50px 0px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

.logo{
	width: 20%;
}

.reg-navigation{
	display: flex;
	padding-left: 40px;
	padding-right: 40px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.navigation-list{
	display: flex;
	width: 55%;
	list-style: none;
	justify-content: space-between;
}

.navigation-list li{
	// width: 15%;
	text-decoration: none;
	text-align: center;
}

.navigation-list li a{
	text-decoration: none;
	color: #4b7f1d;
	font-size: 14px;
	font-weight: bold;
}

.reservation{
	padding-left: 55px;
	padding-top: 10px;
}

.reservation a{
	text-decoration: none;
	color: #4b7f1d;
	font-size: 14px;
	display: flex;
	border: 1px solid #4b7f1d;
	padding: 5px 30px;
	font-weight: bold;
}

.landing-page-content{
	position: relative;
}

.plated-food{
	position: relative;
}

.plated-food img{
	position: absolute;
	top: -95px;
	width: 50%;
	z-index: -9999;
}

.american-club{
	display: flex;
	justify-content: flex-end;
	padding-right: 60px;
	padding-top: 130px;
}

.american-club img{
	width: 35%;
}

.main-content{
	text-align: center;
	padding-top: 105px;
}

.main-content img{
	width: .15%;
	height: 150px;
}

.main-content p{
	width: 35%;
	padding-top: 50px;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 45px;
}

.main-content span{
	font-size: 20px;
	font-weight: bold;
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px 0px;
	font-size: 12px;
}

.footer div{
	padding: 0px 70px;
	font-weight: bold;
}

.footer .images{
	display: flex;
	align-items: center;
	font-size: 20px;
}


.footer .images img{
	padding: 0px 50px;
	// width: 20%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

.reg-navigation{
	display: none;
}

.mobile-navigation{
	display: flex;
}

// .hamburger-menu {
// 	max-height: 40px;
// 	width: 50%;
// }

}
