/* ==========================================================================
  #Styles

	// 1. Helper Classes
	// 2. Navigation
	// 3. Content
	// 4. Footer


=========================================================================== */

/* 1. Helper Classes
========================================================================== */

* {
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	margin: 0;
	position: relative;
	line-height: 30px;
	letter-spacing: 1px;
	position: relative;
}

nav{
	width: 100%;
}

img {
	width: 100%;
	display: flex;
}

a{
	color: black;
	text-decoration: none;
	line-height: 18px;
}

h1{
	font-size: 28px;
	font-weight: normal;
}

h2{
	font-size: 24px;
	font-weight: normal;
	span{
		color: #712625;
	}
}

h3{
	font-size: 22px;
	font-weight: normal;
}

input{
	min-width: 200px;
	font-size: 18px;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.text-white{
	color: white;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.text-center{
	text-align: center;
}

.left-align{
	text-align: left;
}

.right-align{
	text-align: right;
}

.wrap{
	margin: 65px 100px 90px 100px;
}

.button{
	padding: 5px 20px;
	color: white;
	background-color: #712625;
	max-width: 175px;
	text-align: center;
	margin-top: 30px;
}

.margin-left-auto{
	margin-left: auto;
}

.flex{
	display: flex;
}

/* 2. Navigation
========================================================================== */
.hamburger-menu{
	display: none;
}

.logo{
	width: 18%;
}

.reg-navigation{
	display: flex;
	// padding-left: 40px;
	// padding-right: 40px;
	padding: 15px 0px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;
}

.navigation-list{
	display: flex;
	width: 50%;
	list-style: none;
	justify-content: space-between;
	padding-left: 60px;
	li{
		// width: 15%;
		text-decoration: none;
		text-align: center;
		position: relative;
		width: 20%;
		&:after{
			position: absolute;
			content: '';
			height: 50%;
			width: 1px;
			background-color: #712625;
			top: 28%;
			right: 0%;
			display: block;
		}
		&:last-child:after{
			position: absolute;
			content: '';
			height: 50%;
			width: 0px;
			background-color: #712625;
			top: 28%;
			right: 0%;
			display: block;
		}
	}
	li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: bold;
	}
}

.hero-copy{
	position: absolute;
	top: 15%;
	width: 55%;
	text-align: right;
	padding-left: 50px;
	padding-top: 90px;
	h1{
		line-height: 38px;
	}
}


/* 3. Content
========================================================================== */

.main-content{
	display: flex;
	> *{
		width: 50%;
		padding: 20px;
	}
	img{
		width: 85%;
	}
}

.form{
	background-color: #C6C6C5;
	border-radius: 5px;
	padding: 30px 100px 60px 100px;
	margin-top: 65px;
	p{
		padding-top: 10px;
	}
	.name{
		justify-content: space-between;
	}
	.input-field{
		width: 50%;
		margin-top: 40px;
	}
	.full-length-input{
		width: 460px;
	}
	.checkbox{
		margin: 30px 0px;
	}
}

/* 4. Footer
========================================================================== */
.footer{
	display: flex;
	justify-content: space-between;
	padding: 50px 0px;
	font-size: 16px;
	background-color: #712625;
	color: white;
	.copyright{
		font-size: 14px;
	}
	> *{
		padding: 0px 50px;
		font-weight: bold;
		width: 33%;
	}
	.social-icons{
		font-size: 36px;
		display: flex;
		justify-content: center;
		a{
			padding-right: 15px;
		}
	}
}
